.color-first {
    color:violet;
}

.font-size-40px {
    font-size:40px;
}

.div-prac1 {
    background-color: beige;
    font-size:20px;
}

.table-prac1 {
    border:2px solid #000;
    width:400px;
    height:200px;
    font-size:15px;
    background-color: coral;
}

/* 
 * > 표시로 자식 element에 접근 가능. 순차적으로 접근해야 함 */

.table-prac1>thead {
    font-weight:bold;
    font-size:20px;
}

a.link {color:red;}

